<!DOCTYPE html>
<html lang="en" data-color-mode="<%- colorMode %>">
    <head>
        <meta charset="UTF-8">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="<%- rootUri %>/css/reset.css" rel="stylesheet">
        <link href="<%- rootUri %>/css/vscode.css" rel="stylesheet">
        <link href="<%- rootUri %>/css/main.css" rel="stylesheet">

        <script nonce="<%- nonce %>" src="<%- rootUri %>/js/lodash.4.17.21.js"></script>
        <script nonce="<%- nonce %>" src="<%- rootUri %>/js/dayjs.1.11.5.js"></script>

        <script nonce="<%- nonce %>" src="<%- rootUri %>/js/react.18.2.0.js"></script>
        <script nonce="<%- nonce %>" src="<%- rootUri %>/js/react-dom.18.2.0.js"></script>
        <script nonce="<%- nonce %>" src="<%- rootUri %>/js/babel.7.23.0.js"></script>

        <script nonce="<%- nonce %>" src="<%- rootUri %>/js/main.js"></script>
    </head>

    <body>
        <div id="tgf-content"></div>

        <script nonce="<%- nonce %>" src="<%- rootUri %>/components/test.jsx" type="text/babel"></script>
    </body>
</html>